<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>niutransAPIKey</key>
	<string>XOoEyjDMoM2MuMInzySOjGucFWXRj1wXQivVYDGTi6X7iDe7EkuHVVPOy2Op3RlD</string>
	<key>tencentSecretId</key>
	<string>7ZdGkHHIx4Nozm4RHib5Jjye5yCefYoxxfSWzMRbKRrHrnSEJaqpypL1yRMoN0E5</string>
	<key>tencentSecretKey</key>
	<string>OLvQKqJoBfrfLLg95ezIQsWymT+2irYbuMLov1cxrtc3a/M2YXCDQ2rpyy/raQ8r</string>
	<key>caiyunToken</key>
	<string>5VZ61ZCRzQ2uTbp6MPaUGdoqXGklkB3WifIBPamAwLc=</string>
	<key>appcenterSecret</key>
	<string>WJFbwsYrXm9olzfwt6dgXHRh0hs8OjT8etWAuZH/nSXpXuRgQgvkh14oyHhkFkme</string>
	<key>builtInAIAPIKey</key>
	<string>kfwQtY5KRyLKa3aENzazMeqBguP9zeE7B6D+TZXbFsA44Xjtb4s/uJ6rWK3xljASyHbg+E89QkAsfardiecsLQ==</string>
	<key>builtInAIEndpoint</key>
	<string>hV+63f3CRr51UPzDKE4bXs3s/JTYF2AyaFdD38hU003a4WJ7C6D9k8HC55bsFvy1</string>
</dict>
</plist>
